@import url('https://fonts.googleapis.com/css2?family=Lato&family=Vidaloka&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Vidaloka', serif;
  font-size: 1.4rem;
}

.container {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-top: 4rem;
}

.video {
  width: 400px;
  height: 300px
}
/* adjust for resp view */