@import url("https://fonts.googleapis.com/css2?family=Lato&family=Vidaloka&family=Comfortaa:wght@300;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  background-color: #1b1725;
  color: #1b1725;
  background-image: linear-gradient( 109.6deg,  rgba(177,173,219,1) 11.2%, rgba(245,226,226,1) 91.1% );
}

.bg {
  background-image: linear-gradient( 109.6deg,  rgba(177,173,219,1) 11.2%, rgba(245,226,226,1) 91.1% );
  height: calc(100vh - 80px);
}

h1 {
  font-family: "Vidaloka", cursive;
  font-size: 3rem;
  padding-bottom: 3rem 0;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 2rem;
  font-weight: 400;
}

.container {
  padding: 4rem 3rem 2rem 3rem;
}

.video {
  width: 400px;
  height: 300px;
  border-radius: 3px;
}

ul {
  display: flex;
}

a, a:active, a:visited {
  font-family: "Comfortaa", cursive;
  font-weight: 700;
  text-decoration: none;
  color: #1b1725;
}

a:hover {
  opacity: .6;
  transition: 500ms;
}

.nav-links {
  text-decoration: none;
  list-style-type: none;
}

.image, .video, .today, .gif {
  border-radius: 5px 5px 0 0;
}

.icon {
  margin: 8px 10px 0 10px;
}

.image, .video, .gif {
  max-width: 100%;
  /* height: 200px; */
}

.card {
  box-shadow: 10px 10px rgba(209, 204, 220, .2);
  border-radius: 5px;
  background-color: #DDDAFF;
  color: #1b1725;
}

.card-container, .gif {
  padding: 2rem;
}

::-moz-selection {
  background: #f5e2e2; 
  color: #1b1725;
}
::selection {
  background: #f5e2e2;
  color: #1b1725;
}

.star-toggle {
  color: #f5e2e2;
}

.star {
  opacity: .3;
}

button {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  padding: .8rem;
  text-align: center;
  border-radius: 5px;
  border: none;
  text-shadow: none;
  cursor: pointer;
  font-weight: 600;
  color: #DDDAFF;
  background-color: #1b1725;
 }

@media only screen and (max-width: 700px) {
  .nav-menu {
    background: #DDDAFF;
    border-right: 1px solid #1b1725;
    border-bottom: 1px solid #1b1725;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding-right: 1.6rem;
    position: fixed;
    z-index: 2;
  }
  .nav-menu.active {
    left: 0;
    transition: 500ms;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    padding-left: 1.4rem;
    padding-bottom: 2rem;
    text-align: left;
  }
  .menu-bars, .menu-exit {
    position: absolute;
    left: 4rem;
  }
  .today {
    max-width: 100%;
  }
}

@media only screen and (min-width: 701px) {
  .menu-bars, .menu-exit {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}